<div class="tab-container">
  <ul [ngStyle]="{ 'background-color': backgroundColor }">
    <li *ngFor="let menu of menus; let i = index">
      <a
        href="#"
        [class.active]="selectedIndex === i"
        (click)="handleSelection(i)"
        [ngStyle]="{
          color: i === selectedIndex ? titleActiveColor : titleColor
        }"
        >{{ menu.title }}</a
      >
      <span
        class="indicator"
        [ngStyle]="{ 'background-color': indicatorColor }"
        *ngIf="selectedIndex === i"
      ></span>
    </li>
  </ul>
</div>
